{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}

{% block content %}
<div class="container">
  <div class="jumbotron">
    <div class="color-swatches">
      <div class="color-swatch brand-primary"></div>
      <div class="color-swatch brand-success"></div>
      <div class="color-swatch brand-info"></div>
      <div class="color-swatch brand-warning"></div>
      <div class="color-swatch brand-danger"></div>
    </div>
	  <h1>Hello, my name is HealthMaxx.</h1>
	  <p class="lead">I am your personal Las Vegas health score predictor</p>
	</div>

  <h2>What is the name of the restaurant for which I should predict the health score?</h2>
  {% for field in form %}
    {{ field(class_='chosen-select', style="width:500px;", tabindex="0", **{'data-placeholder': "Choose or Search for a restaurant..", 'data-url': url_for('PredictionsView:get', id='')}) }}
  {% endfor %}

  <div id="result-message"></div>
  <div id="result-img"></div>

</div>
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" type="text/css" href="/static/styles/main.css">
<link rel="stylesheet" type="text/css" href="/static/styles/chosen.min.css">
{% endblock %}

{% block scripts %}
{{super()}}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="/static/scripts/chosen.jquery.js"></script>
<script src="/static/scripts/main.js"></script>
{% endblock %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
{% endblock %}