{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}

{% block content %}
<div class="container">
  <div class="jumbotron">
    <div class="color-swatches">
      <div class="color-swatch brand-primary"></div>
      <div class="color-swatch brand-success"></div>
      <div class="color-swatch brand-info"></div>
      <div class="color-swatch brand-warning"></div>
      <div class="color-swatch brand-danger"></div>
    </div>
	  <h1>Hello, my name is HealthMaxx.</h1>
	  <p class="lead">I am your personal Las Vegas health score predictor</p>
	</div>

  <h2>Here is a list of problem restaurants that you should watch out for.</h2>
  <table class="table table-hover">
    <thead>
      <th>#</th>
      <th>Name</th>
      <th>Address</th>
      <th>Predicted A Grade?</th>
    </thead>
  {% for yelp_business in yelp_businesses %}
    <tr class={{ "success" if yelp_business.predicted_A_grade else "danger" }}>
      <td>{{ loop.index }}</td>
      <td>{{ yelp_business.name }}</td>
      <td>{{ yelp_business.full_address.replace('\n', '; ')}}</td>
      <td>{{ "Yes" if yelp_business.predicted_A_grade else "No" }}</td>
    </tr>
  {% endfor %}
  </table>

</div>
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" type="text/css" href="/static/styles/main.css">
<link rel="stylesheet" type="text/css" href="/static/styles/chosen.min.css">
{% endblock %}

{% block scripts %}
{{super()}}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="/static/scripts/chosen.jquery.js"></script>
<script src="/static/scripts/main.js"></script>
{% endblock %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
{% endblock %}