.color-swatches{margin:auto auto;overflow:hidden}
.color-swatch{float:left;width:60px;height:30px;margin:0 5px;border-radius:3px}
@media (min-width:768px){.color-swatch{width:175px;height:50px}}
.color-swatches .brand-primary{background-color:#337ab7}
.color-swatches .brand-success{background-color:#5cb85c}
.color-swatches .brand-warning{background-color:#f0ad4e}
.color-swatches .brand-danger{background-color:#d9534f}
.color-swatches .brand-info{background-color:#5bc0de}
.color-swatches .bs-purple{background-color:#563d7c}
.color-swatches .bs-purple-light{background-color:#c7bfd3}
.color-swatches .bs-purple-lighter{background-color:#e5e1ea}
.jumbotron {margin-top: 10px}